/* property modifications */
a {text-decoration: none}
a:link {color: #A95322; text-decoration: none;}
a:visited {color: #A95322; text-decoration: none;}
a:hover {color: #BB5C26; text-decoration: underline overline}
a:active {color: #A95322; text-decoration: none;}
/* element behavior */
body {
    background: url("../img/bg.png");
}
p {
    font-family: serif;
}
img {
    width: 50%;
}
.button {
    /* basic button styling */
    display: block;
    height: 100px;
    width: 300px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
    /* text styling */
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a.button {
    text-decoration: none;
}
