/* 2px = 0.125em */
/* 4px = 0.25em */
/* 6px = 0.375em */
/* 8px = 0.5em */
/* 10px = 0.625em */
/* 12px = 0.75em */
/* 14px = 0.875em */
/* 16px = 1em */

/* property modifications */
a {text-decoration: none}
a:link {color: #A95322; text-decoration: none;}
a:visited {color: #A95322;text-decoration: none;}
a:hover {color: #BB5C26; text-decoration: underline overline}
a:active {color: #A95322; text-decoration: none;}
/* element behavior */
body {
    background: url("../img/bg.png");
}
p {
    font-family: serif;
}
img {
    width: 50%;
}

.button {
    /* background-color: green; */
    border: none;
    /* color: white; */
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 1em; */
    margin: .25em .125em;
    -webkit-transition-duration: 0.4s; /* safari compatibility */
    transition-duration: 0.4s;
    /* cursor: pointer; */
}

.blue_button {
    border-color: white;
    color: black;
    border: 0.125em solid #008CBA;
}

.blue_button:hover {
    background-color: #008CBA;
    color: white;
}