/* property modifications */
a {text-decoration: none}
a:link {color: #A95322; text-decoration: none;}
a:visited {color: #A95322; text-decoration: none;}
a:hover {color: #BB5C26; text-decoration: underline overline}
a:active {color: #A95322; text-decoration: none;}
/* element behavior */
body {
    background: url("../img/bg.png");
}
p {
    font-family: serif;
}
img {
    width: 50%;
}
